<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        后台管理系统
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/x-admin.css" media="all">
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>角色权限</cite></a>
              <a><cite>权限列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
<!--    <form class="layui-form x-center" action="" style="width:70%">-->
<!--        <div class="layui-form-pane" style="margin-top: 15px;">-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-input-inline">-->
<!--                    <select name="cname">-->
<!--                        <option value="">请选择角色</option>-->
<!--                        <option value="评论相关">评论相关</option>-->
<!--                        <option value="评论相关">评论相关</option>-->
<!--                        <option value="用户相关">用户相关</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="rules" placeholder="模块/控制器/方法" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="name" placeholder="权限名称" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--                <div class="layui-input-inline" style="width:80px">-->
<!--                    <button class="layui-btn" lay-submit="" lay-filter="*"><i class="layui-icon">&#xe608;</i>添加</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>权限名称</th>
            <th>权限规则</th>
            <th>描述</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>

    <div id="pageContainer"></div>
</div>
<script src="../lib/layui/layui.js" charset="utf-8"></script>
<script src="../js/x-layui.js" charset="utf-8"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/ucp-listview.js"></script>
<script src="../js/ucp-util.js"></script>
<script src="../js/ucp-common.js"></script>
<script src="../js/ucp-ajax.js"></script>
<script type="text/html" id="table_tr_tpl">
    <% for(var i=0;i < this.length;i++){ %>
    <% var obj = this[i]; %>
    <tr data-id="<%=obj.id %>" class="rightItem">
        <td><%=obj.id %></td>
        <td><%=obj.rightName %></td>
        <td><%=obj.rightRule %></td>
        <td><%= obj.description %></td>
        <td><%= ucp.util.formatDate(obj.createTime) %></td>
    </tr>
    <% } %>
</script>
<script src="./js/right_list.js"></script>

</body>
</html>