<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        后台管理系统
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/x-admin.css" media="all">
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>角色权限</cite></a>
              <a><cite>角色列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">

    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>角色名</th>
            <th>拥有权限</th>
            <th>描述</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>

    <div id="pageContainer"></div>
</div>
<script src="../lib/layui/layui.js" charset="utf-8"></script>
<script src="../js/x-layui.js" charset="utf-8"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/ucp-listview.js"></script>
<script src="../js/ucp-util.js"></script>
<script src="../js/ucp-common.js"></script>
<script src="../js/ucp-ajax.js"></script>
<script type="text/html" id="table_tr_tpl">
    <% for(var i=0;i < this.length;i++){ %>
    <% var obj = this[i]; %>
    <tr data-id="<%=obj.roleId %>" class="roleItem">
        <td><%=obj.roleId %></td>
        <td><%=obj.roleName %></td>
        <td><%=obj.rightName %></td>
        <td><%= obj.description %></td>
        <td><%= ucp.util.formatDate(obj.createTime) %></td>
    </tr>
    <% } %>
</script>
<script src="./js/role_list.js"></script>

</body>
</html>