<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="LOG_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 控制台日志只输出info级别信息-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--    输出到日志文件中-->
    <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <!-- 动态设置日志的存放目录，其中logbackDirKey是初始化在Application中的-->
        <File>${logbackDirKey}ucp.log</File>
        <append>true</append>
        <!--        最低输出级别为info-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOG_CONSOLE" />
        <appender-ref ref="LOG_FILE" />
    </root>

</configuration>