<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyyu.ucp.mapper.AdministratorMapper">

    <resultMap type="com.zyyu.ucp.po.AdministratorPo" id="resultMap">
        <id property="id" column="id"  />
        <result property="adminName" column="admin_name"  />
        <result property="adminPassword" column="admin_password"  />
        <result property="adminNickName" column="admin_nickname"  />
        <result property="adminState" column="admin_state"  />
        <result property="roleId" column="role_id"  />
        <result property="adminMobilePhone" column="admin_mobile_phone"  />
        <result property="adminEmail" column="admin_email"  />
        <result property="createTime" column="create_time"  />
        <result property="updateTime" column="update_time"  />
    </resultMap>

    <resultMap type="com.zyyu.ucp.vo.AdministratorVo" id="resultMapVo">
        <id property="adminId" column="id"  />
        <result property="adminName" column="admin_name"  />
        <result property="adminNickName" column="admin_nickname"  />
        <result property="adminState" column="admin_state"  />
        <result property="adminMobilePhone" column="admin_mobile_phone"  />
        <result property="adminEmail" column="admin_email"  />
        <result property="createTime" column="create_time"  />
        <result property="updateTime" column="update_time"  />
        <result property="roleId" column="role_id"  />
        <result property="roleName" column="role_name"  />
    </resultMap>


    <select id="getVoByPage" parameterType="com.zyyu.ucp.common.PageInfo" resultMap="resultMapVo">
        SELECT tb_admin.id,tb_admin.admin_name,tb_admin.admin_nickname,tb_admin.admin_state,tb_admin.admin_mobile_phone,
               tb_admin.admin_email,tb_admin.create_time,tb_admin.update_time,tb_admin.role_id,tb_role.role_name
        FROM tb_admin,tb_role
        WHERE tb_admin.role_id = tb_role.id
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getById" parameterType="Long" resultMap="resultMap">
        SELECT * FROM tb_admin WHERE id=#{id}
    </select>

    <select id="getAll"  resultMap="resultMap">
        SELECT * FROM tb_admin
    </select>

    <select id="getAllByPage" parameterType="com.zyyu.ucp.common.PageInfo" resultMap="resultMap">
        SELECT * FROM tb_admin limit #{startIndex},#{pageSize}
    </select>


    <select id="getTotalCount"  resultType="Integer">
        SELECT count(*) FROM tb_admin
    </select>

    <insert id="add" parameterType="com.zyyu.ucp.po.AdministratorPo">
        INSERT INTO tb_admin(id,admin_name,admin_password,admin_nickname,admin_state,role_id,admin_mobile_phone,admin_email,create_time,update_time)
               VALUES(#{id},#{adminName},#{adminPassword},#{adminNickName},#{adminState},#{roleId},#{adminMobilePhone},#{adminEmail},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.zyyu.ucp.po.AdministratorPo" >
        UPDATE tb_admin SET admin_name=#{adminName},admin_password=#{adminPassword},admin_nickname=#{adminNickName},admin_state=#{adminState},role_id=#{roleId},
                            admin_mobile_phone=#{adminMobilePhone},admin_email=#{adminEmail},create_time=#{createTime},update_time=#{updateTime}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.zyyu.ucp.po.AdministratorPo">
        DELETE FROM tb_admin WHERE id=#{id}
    </delete>

    <select id="adminLogin" parameterType="com.zyyu.ucp.po.AdministratorPo" resultMap="resultMap">
        SELECT * FROM tb_admin WHERE admin_name = #{adminName} AND admin_password = #{adminPassword}
    </select>

</mapper>