<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.zyyu.ucp.mapper.CorpusMapper">

    <resultMap type="com.zyyu.ucp.model.po.CorpusPo" id="resultMap">
        <id property="id" column="id"  />
        <result property="content" column="content"  />
        <result property="contentMD5" column="content_md5"  />
        <result property="catgory" column="catgory"  />
        <result property="donateId" column="donate_id"  />
        <result property="createTime" column="create_time"  />
        <result property="updateTime" column="update_time"  />
    </resultMap>

    <resultMap type="com.zyyu.ucp.model.vo.CorpusVo" id="resultMapVo">
        <id property="corpusId" column="id"  />
        <result property="content" column="content"  />
        <result property="contentMD5" column="content_md5"  />
        <result property="catgory" column="catgory"  />
        <result property="donateId" column="donate_id"  />
        <result property="donateName" column="user_name"  />
        <result property="createTime" column="create_time"  />
        <result property="updateTime" column="update_time"  />
    </resultMap>

    <select id="getById" parameterType="Long" resultMap="resultMap">
        SELECT * FROM tb_corpus WHERE id=#{id}
    </select>

    <select id="getAll"  resultMap="resultMap">
        SELECT * FROM tb_corpus
    </select>

    <select id="getAllByPage" parameterType="com.zyyu.ucp.model.PageInfo" resultMap="resultMap">
        SELECT * FROM tb_corpus limit #{startIndex},#{pageSize}
    </select>

    <select id="getVoByPage" parameterType="com.zyyu.ucp.model.PageInfo" resultMap="resultMapVo">
        SELECT c.id,c.content,c.catgory,c.donate_id,c.create_time,c.update_time,u.user_name
        FROM tb_corpus c,tb_user u
        WHERE c.donate_id = u.id
        ORDER BY c.create_time DESC
        limit #{startIndex},#{pageSize}
    </select>

    <!--条件查询-->
    <select id="searchCorpus" parameterType="com.zyyu.ucp.model.vo.SearchConditionVo" resultMap="resultMapVo">
        SELECT c.id,c.content,c.catgory,c.donate_id,c.create_time,c.update_time,u.user_name
        FROM tb_corpus c,tb_user u
        WHERE c.donate_id = u.id
        <if test="condition.content != null and condition.content !=''">
            AND   c.content like "%"#{condition.content}"%"
        </if>
        <if test="condition.donateName != null and condition.donateName !=''">
            AND   u.user_name = #{condition.donateName}
        </if>
        <if test="condition.createTimeMin != null and condition.createTimeMin !='' and condition.createTimeMax !=null and condition.createTimeMax !=''">
            AND  date(c.create_time) between #{condition.createTimeMin} and #{condition.createTimeMax}
        </if>
        ORDER BY c.create_time DESC
        limit #{pageInfo.startIndex},#{pageInfo.pageSize}
    </select>

    <!--条件查询统计数量-->
    <select id="searchCorpusCount" parameterType="com.zyyu.ucp.model.vo.SearchConditionVo" resultType="Integer">
        SELECT count(c.id)
        FROM tb_corpus c,tb_user u
        WHERE c.donate_id = u.id
        <if test="condition.content != null and condition.content !=''">
            AND   c.content like "%"#{condition.content}"%"
        </if>
        <if test="condition.donateName != null and condition.donateName !=''">
            AND   u.user_name = #{condition.donateName}
        </if>
        <if test="condition.createTimeMin != null and condition.createTimeMin !='' and condition.createTimeMax !=null and condition.createTimeMax !=''">
            AND  date(c.create_time) between #{condition.createTimeMin} and #{condition.createTimeMax}
        </if>
    </select>

    <!--全部数量-->
    <select id="getTotalCount"  resultType="Integer">
        SELECT count(*) FROM tb_corpus
    </select>

    <select id="getVoByContent" parameterType="com.zyyu.ucp.model.vo.CorpusVo" resultMap="resultMapVo">
        SELECT * FROM tb_corpus where tb_corpus.content = #{content}
    </select>

    <select id="getVoByContentMD5" parameterType="com.zyyu.ucp.model.vo.CorpusVo" resultMap="resultMapVo">
        SELECT * FROM tb_corpus where tb_corpus.content_md5 = #{contentMD5}
    </select>

    <insert id="add" parameterType="com.zyyu.ucp.model.po.CorpusPo">
        INSERT INTO tb_corpus(id,content,content_md5,catgory,donate_id,create_time,update_time)
               VALUES(#{id},#{content},#{contentMD5},#{catgory},#{donateId},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.zyyu.ucp.model.po.CorpusPo" >
        UPDATE tb_corpus SET content=#{content},catgory=#{catgory},donate_id=#{donateId},create_time=#{createTime},update_time=#{updateTime}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.zyyu.ucp.model.po.CorpusPo">
        DELETE FROM tb_corpus WHERE id=#{id}
    </delete>

</mapper>