<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyyu.ucp.mapper.UserMapper">

    <resultMap type="com.zyyu.ucp.model.po.UserPo" id="resultMap">
        <id property="id" column="id"  />
        <result property="userName" column="user_name"  />
        <result property="password" column="user_password"  />
        <result property="state" column="user_state"  />
        <result property="nickName" column="user_nickname"  />
        <result property="idNumber" column="user_id_number"  />
        <result property="avatar" column="user_avatar"  />
        <result property="realName" column="user_realname"  />
        <result property="birthday" column="user_birthday"  />
        <result property="gender" column="user_gender"  />
        <result property="mobilePhone" column="user_mobile_phone"  />
        <result property="email" column="user_email"  />
        <result property="address" column="user_address"  />
        <result property="slefWord" column="user_slef_word"  />
        <result property="createTime" column="create_time"  />
        <result property="updateTime" column="update_time"  />
        <result property="roleId" column="role_id"  />
    </resultMap>



    <select id="login" parameterType="com.zyyu.ucp.model.po.UserPo" resultMap="resultMap">
        SELECT * FROM tb_user WHERE user_name = #{userName} AND user_password = #{password}
    </select>

    <select id="getById" parameterType="Long" resultMap="resultMap">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>

    <select id="getAll"  resultMap="resultMap">
        SELECT * FROM tb_user
    </select>

    <select id="getAllByPage" parameterType="com.zyyu.ucp.model.PageInfo" resultMap="resultMap">
        SELECT * FROM tb_user order by create_time desc limit #{startIndex},#{pageSize}
    </select>

    <select id="getTotalCount"  resultType="Integer">
        SELECT count(*) FROM tb_user
    </select>

    <insert id="add" parameterType="com.zyyu.ucp.model.po.UserPo">
        INSERT INTO tb_user(id,user_name,user_nickname,user_id_number,user_state,user_password,create_time,update_time,user_gender,user_realname,
                            user_mobile_phone,user_email,user_avatar,role_id)
               VALUES(#{id},#{userName},#{nickName},#{idNumber},#{state},#{password},#{createTime},#{updateTime},#{gender},#{realName},
                      #{mobilePhone},#{email},#{avatar},#{roleId})
    </insert>

    <update id="update" parameterType="com.zyyu.ucp.model.po.UserPo" >
        UPDATE tb_user SET user_name=#{userName},user_state=#{state},user_nickname=#{nickName},user_id_number=#{idNumber},
                           user_realname=#{realName},user_birthday=#{birthday},user_gender=#{gender},user_mobile_phone=#{mobilePhone},
                           user_email=#{email},user_email=#{email},user_address=#{address},user_slef_word=#{slefWord},update_time=#{updateTime}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.zyyu.ucp.model.po.UserPo">
        DELETE FROM tb_user WHERE id=#{id}
    </delete>

    <select id="getByUserName" parameterType="String" resultMap="resultMap">
        SELECT * FROM tb_user WHERE user_name = #{userName}
    </select>

    <select id="getByMobilePhone" parameterType="String" resultMap="resultMap">
        SELECT * FROM tb_user WHERE user_mobile_phone = #{mobilePhone}
    </select>

    <select id="getByEmail" parameterType="String" resultMap="resultMap">
        SELECT * FROM tb_user WHERE user_email = #{email}
    </select>
</mapper>